{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .testimonials-background {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .testimonials-background {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<div class= "testimonials-background page-width">
    {% if section.settings.testimonials_background_bg_image != blank %}
        <div class= "testimonials__wrapper__bg__container">
          {{
            section.settings.testimonials_background_bg_image
            | image_url: width: 430
            | image_tag: fetchpriority: fetch_priority
          }}
        </div>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="testimonials_heading_text">
            {{ section.settings.title }}
        </h2>
      {% endif %}
        <slideshow-component
            class="testimonials-background"
            style= "margin-top: 1rem; margin-bottom: 1rem"
            role="region"
        >
            <div class="testimonials_slider slider-buttons testomonials-slider-button">
                <button
                  type="button"
                  class="slider-button testimonial-slider-button slider-button--prev testimonial-slider-button--prev"
                  name="previous"
                >
                  {% render 'icon-caret' %}
                </button>
                <div
                  class="grid grid--1-col slider slider--everywhere"
                  id="Slider-{{ section.id }}"
                  aria-live="polite"
                  aria-atomic="true"
                  data-autoplay="{{ section.settings.auto_rotate }}"
                  data-speed="{{ section.settings.change_slides_speed }}"
                >
                    {%- for block in section.blocks -%}
                        <div
                            class="slideshow__slide slider__slide grid__item grid--1-col"
                            id="Slide-{{ section.id }}-{{ forloop.index }}"
                            {{ block.shopify_attributes }}
                            role="group"
                            aria-roledescription="{{ 'sections.announcements.announcement' | t }}"
                            aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                            tabindex="-1"
                          >
                            <div class= "client_testimonials_container">
                                <div class = "client_testimonials_container_text">
                                    {% if block.settings.block_heading != blank  %}
                                        <p class="client_testimonials_name_text">
                                            {{ block.settings.block_heading }}
                                        </p>
                                    {% endif %}
                                    {% if block.settings.headline_1 %}
                                        <p class="client_testimonials_heading1">
                                            {{ block.settings.headline_1 }}
                                        </p>
                                    {% endif %}
                                    {% if block.settings.headline_2 %}
                                        <p class="client_testimonials_heading2">
                                            {{ block.settings.headline_2 }}
                                        </p>
                                    {% endif %}
                                    {%- if block.settings.rating_text -%}
                                        <span class= "footer-subtitle testimonials_rating_text">
                                          {% for i in (1..5) %}
                                              <p class="star-icon red-star-icon" style= "margin-right: 4px">&#9733;</p>
                                          {% endfor %}
                                          <span style= "margin-top: 1rem; margin-left: 0.5rem">
                                            {{ block.settings.rating_text }}
                                          </span>
                                        </span>
                                    {%- endif -%}
                                    {% if block.settings.image_2 != blank %}
                                        <div class="client_product_img">
                                            {{
                                                block.settings.image_2
                                                | image_url: width: 358, height: 245
                                                | image_tag: fetchpriority: fetch_priority
                                            }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class= "client_testimonials_user_img_container">
                                    {% if block.settings.image != blank %}
                                        {{
                                            block.settings.image
                                            | image_url: width: 405, height: 500
                                            | image_tag: fetchpriority: fetch_priority
                                        }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button
                    type="button"
                    class="slider-button testimonial-slider-button slider-button--next testimonial-slider-button--next"
                    name="next"
                  >
                    {% render 'icon-caret' %}
                </button>
            </div>
        </slideshow-component>
</div>



{% schema %}

{
    "name": "Testimonials",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "testimonials_background_bg_image",
        "label": "Background Image"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Title",
        "label": "Title"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin Top",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "User Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Client Image"
          },
          {
            "type": "inline_richtext",
            "id": "block_heading",
            "default": "Heading",
            "label": "Block Heading"
          },
          {
            "type": "text",
            "id": "headline_1",
            "default": "Headline 1",
            "label": "Healine 1"
          },
          {
            "type": "text",
            "id": "headline_2",
            "default": "Headline 2",
            "label": "Healine 2"
          },
          {
            "type": "text",
            "id": "rating_text",
            "default": "Rating Text",
            "label": "Rating Text"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Product Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials"
      }
    ]
}

{% endschema %}